<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LBSWeb7</title>
	<link href="/assets/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/config.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/assets/js/public.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
</head>
<body data-curpagename="page1" class="body_style1">
<div id="page1_jPanel1" class="Panel Panel_Null">
	<div id="page1_jLabel1" class="text">LBSWeb房屋信息系统</div>
	<div class="MenuH MenuH_style1" id="page1_jMenuH1">
		<ul>
			<li><a href="#"><span>修改密码</span></a></li>
			<li><a href="#"><span>重新登录</span></a></li>
			<li class="last"><a href="#"><span>退出</span></a></li>
		</ul>
	</div></div>
<div id="page1_jPanel3" class="Panel Panel_Null">
	<div id="page1_jToolbar1_search" class="TJToolbar">
		<div id="page1_jLabel2" class="text">搜索:</div>
		<input type="text" class="Edit Edit_style1" value="" id="page1_jEdit1_search"/>
		<div id="page1_jButton1" class="vjbutton vjbutton_c_style1 border_radius_8"><div class="vjbutton_txtR">添加标记点</div></div></div></div>
<div id="page1_jPanel2" class="Panel Panel_Null">
	<div id="page1_jExtPanel1" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>标注列表</span></div></div><div class="PanelContent colorp_grain5 ">
	</div></div></div>
<div id="page1_jPanel4_map" class="Panel Panel_Null">
</div>

</body>
</html>
