<!DOCTYPE html>
<html>
<body style="background-color:yellow">
    <h1 style="font-family:verdana">my first head</h1>
    <hr>
    <h2>this is a heading</h2>
    <h3>this is a heading</h3>
    <h4 style="background-color:red">this is a heading</h4>
    <p>my first physice</p>
    <p style="font-family:arial;color:red;font-size:20px;">
        this is a head in p
    </p>
    <a href="http://www.w3school.com.cn">this is a link</a><br>
    <a href="mailto:xiaomutian@xunlei.com">this is a mail</a><br>
    <a href="tel:+8112538238414">this is a tel</a><br>
    <code><pre>
        for _, v in range items {
            fmt.Println(v)
        }
    </pre>
    </code>
    <p><var>E = m c <sup>2</sup></var></p>
    <table border="1">
        <tr>
            <td>100</td>
        </tr>
    </table>
    <table border="2">
        <tr>
            <th>first</th>
            <th>second</th>
            <th>third</th>
        </tr>
        <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
        </tr>
        <tr>
            <td>400</td>
            <td>&nbsp;</td>
            <td>500</td>
        </tr>
    </table>
</body>
</html>